JWT_SECRET=44d6dc1e019c338af94b6c43ad78859efc0c069d79d7a23524baa81e05e46aac
JWT_EXPIRY=7d

MONGO_URI=mongodb://localhost/myDatabase
SALT=10

ADMIN_USERNAME=
ADMIN_EMAIL=@gmail.com
ADMIN_PASSWORD=

ESP32_CODE=ABC123